<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires access to the microphone for audio playback and recording.</string>
	<key>FROM_TELEPHONE_NUMBER</key>
	<string>+14066318974</string>
	<key>ROSIE_API_URL</key>
	<string>https://c192-73-170-129-173.ngrok-free.app</string>
	<key>BING_API_URL</key>
	<string>https://api.bing.microsoft.com/v7.0/entities</string>
</dict>
</plist>
